body{
    padding: 0px;
    margin: 0px;
    background-color: #808280;
}

#menu{
    height: 75px;
    background-color: #fff;
    width: 100%;
}

#centro{
    width: 100%;
    background-color: white;
    height: calc(100vh - 265px);
    position: relative;

    background-image: url('assets/background@2x.jpg');
    background-size: auto 100%;
    background-position: 50% 50%;
}

#logo{
    width: 30px;
    height: 30px;
    background-image: url('assets/logo@2x.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    top: 22.5px;
    left: 22.5px;
    position: relative;
}

#submenu{
    position: absolute;
    right: 22.5px;
    top:30px;
}

.linkMenu{
    color: #272F57;
    font-family: 'gilroylight';
    text-decoration: none;
    font-size: 16px;
    border: 0px solid transparent;
    border-bottom: 4px solid transparent;
    padding-bottom: 5px;
    transition: all .75s ease;
}

.linkMenu:hover{
    border-bottom: 4px solid #773F2F;
    color: #773F2F;
}

.linkMenuNone{
    color: #272F57;
    font-family: 'gilroylight';
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.centerButton{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 35vh;
    height: auto;
}

.btnBrown{
    color:#fff;
    font-family: 'gilroyextrabold';
    text-decoration: none;
    background-color: #773F2F;
    border-radius: 30px;
    font-size: 24px;
    padding: 10px 20px 10px 20px;
}

#footer{
    width: 100%;
    height: 150px;
    background-color: #808280;
    position: relative;
    text-align: center;
}

#bottomCenter{
    padding-top: 40px;
    position: relative;
    display: inline-block;
    width: 800px;
    padding-bottom: 40px;
}

.bottomSpace{
    position: relative;
    display: inline;
    float: left;
    width: 33%;
    text-align: left;
    color:#fff;
    font-size: 12px;
    font-family: 'gilroylight';
    padding-right: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 720px) {

    #centro{
        height: 70vw;
    }

    #footer{
        height: auto;
    }

    .centerButton{
        top:auto;
        -ms-transform: none;
        transform: none;
        padding-top: 0;
        bottom: 40px;
    }

    .btnBrown{
        font-size: 16px;
        padding: 8px 16px 8px 16px;
        
    }

}